<%- include navbar.ejs %>
<%- include spacing.ejs %>
  <div class="row">

    <form class="col s12" action='/assassins' method='POST'>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Unknown" id="full_name" type="text" class="validate" name="full_name">
          <label for="Full_name">Full Name</label>
        </div>
        <div class="input-field col s2">
          <input id="age" type="number" class="validate" name="age">
          <label for="age">Age</label>
        </div>
        <div class="input-field col s2">
          <input id="min_price" type="number" class="validate" name="min_price">
          <label for="min_price">Base-Fee</label>
        </div>

      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Unknown" id="code_name" type="text" class="validate" name="code_name">
          <label for="code_name">codename</label>
        </div>

      </div>
      <div class="row">
        <div class="input-field col s10">
          <input id="weapon" type="text" class="validate" name='weapon'>
          <label for="weapon">Weapon of Choice</label>
        </div>
        <div class="input-field col s1">
          <input id="kills" type="number" class="validate" name='kills'>
          <label for="kills">Kill Count</label>
        </div>
        <div class="input-field col s1">
          <input id="rating" type="number" class="validate" name='rating'>
          <label for="rating">sKILL LvL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="contact_info" type="email" class="validate" name='contact_info'>
          <label for="contact_info">Contact Info</label>
        </div>
      </div>
      <div class="row">
    <button class="grey darken-3 btn waves-effect waves-light" type="submit" name="action">Create
        <i class="material-icons right">cloud</i>
    </button>
</div>
    </form>
  </div>

<%- include scripts.ejs %>
</body>
