<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>KILLbase</title>
</head>

<body class='bg'>
  <head>
  <nav>
    <div class="nav-wrapper grey lighten-2">
      <a href="/index" class="brand-logo center"><img  src='/images/logo.png' alt="logo" width='30%'/ ></a>
    </div>
  </nav>
</head>
<%- include spacing.ejs %>
<%- include spacing.ejs %>

   <div class="row">
     <br />
     <br />
   </div>
   <div class='container icongang'>
     <div>
       <a href='/assassins'>
          <img src="/images/whiteAss.png" height='200'/></a>
     </div>
     <div>
       <a href='/contracts'>
          <img src="/images/whitecon.png" height='200'/></a>
     </div>
 </div>
  <footer>
  <div class="section">
    <div class="container footer">
      <a href="/index" class="brand-logo center"><img  src='/images/logo.png' alt="logo" width='30%'/ ></a>
      <p class="shamelessPlug center"> Created by: YA boy TP</p>
    </div>
  </div>
</footer>
<%- include scripts.ejs %>
</body>
