
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>KILLbase</title>
</head>

<body>
  <nav>
   <div class="nav-wrapper black">
     <a href="#" class="brand-logo">Kill-Base</a>
   </div>
 </nav>
 <div class="container">
   <div class="row">
     <br />
     <br />
   </div>
   <div class="row butt">
     <div class="col s6"><a href='/assassins'>
       <i class="material-icons">subdirectory_arrow_left</i></a></div>
     <div class="col s6"><a href='/contracts'>
       <i class="material-icons">subdirectory_arrow_right</i></a></div>
   <div class="row">
     <div class="col s6"><h1>Assassins</h1></div>
     <div class="col s6"><h1>Contracts</h1></div>
   </div>
 </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="index.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="html2canvas.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
</body>
