<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

  <title>KILLbase</title>
</head>

<body>
  <head>
  <nav>
    <div class="nav-wrapper grey lighten-2">
      <a href="/index" class="brand-logo center"><img  src='/images/logo.png' alt="logo" width='30%'/ ></a>
    </div>
  </nav>
</head>
