<h1>KILLbase</h1>
<p>Welcome to KILLbase</p>


    <table>
      <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>Deceased</th>
      </tr>

      <% for (var i = 0; i < people.length; i++) { %>
<tr>
 <td><%= people[i].person_id %></td>
 <td><%= people[i].full_name %></td>
 <td><%= people[i].deceased %></td>
</tr>
<% } %>

    </table>
