body {
  margin-top: 10%;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#DCDCDC;
}
footer {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bg  {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y:5%;
}
a {
  color: #00B7FF;
}

h1 {
  display: inline-flex;
}
.material-icons {
  display: inline-flex;
  font-size: 300px;
}


.info {
  margin: 10px;
}
h5 {
  font-family: 'Exo', sans-serif;

}
h3 {
  font-family: 'Exo', sans-serif, Black;
}
.profpic {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}
.names-section, .assassin-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.names-section {
  padding: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.asscon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-right: 10%;
}
.codename {
  margin-left: 10%;
}
.icongang{
  display: flex;
  justify-content: space-between;
}
.select {
  width: 200%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.firstbuttons {
  height: 30%;
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}
